 
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sansita Swashed', cursive;
    font-family: 'Source Sans Pro', sans-serif;

}
header{
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
    background: #eba3a3;
}
.container_menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 100%;
    display:flex;
    align-items: center;
}

.logo img{
    width: 60px;

}


.menu{
    display: flex;
    align-items: center;
}
.menu ul{
    display: flex;
}
.menu ul li {
    list-style: none;
    margin-left: 36px;
}
.a{
    text-decoration: none;
    font-size: 16px; 
    color:rgb(172, 171, 171);
    text-transform: uppercase; 
}
/*cover*/
#selected{
    background: #0c0b0ba6;
    padding: 10px 40px;
    border-radius: 50px;
    cursor: pointer;
}

.container_cover{
    width: 100%;
    height: 800px;
    background:#ec8686;
    background-image: url(Background-page.png);
    background-repeat: no-repeat;

}
.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container_cover .text{
    max-width: 400px;

}

 h1{
    font-size: 36px;
    font-weight: 600;
   
}

p{
    font-size: 18px;
    margin-top: 40px;
   
}
input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #fab2b2,#f54d4d);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #f54d4d;
    transition: all 300ms;
}
input:hover{
    box-shadow: 1px 1Px 30px -6px #f54d4d;
}

img{
    width: 400px;
    animation: move-vector 4s linear infinite;
    
}

@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}




